<h1>Welcome to the About Page</h1>
<section>
    <p>This password generator was made to allow anyone to quickly generate a random password with the click of a button.<br>
       Custimize a password with Upper and Lower Cases, Special Characters, and Numbers.<br>
       You can even choose the amount of characters (up to 14).<br>
       Use this to come up with strong passwords that keep your accounts safe.<br>
    </p>
    <p>The password generator was made by angelm with instruction by Nick.</p>
    <button type="button"><a href="{% url 'home' %}">Home</a></button>
</section>